.edit-event {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    /* padding: 1rem; */
    width: 100%;
}

.fields {
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
}

.button-fields {
    /* margin: 0 10rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.ui.form .field>label {
    font-size: 1.3rem;
    color: #f8fcf9;
    font-weight: 100;
}

.input-together {
    display: flex;
    justify-content: space-between;
}

.button:disabled {
    opacity: 0.1;
}

.section-name {
    font-size: 2.5rem;
    font-weight: 400;
    color: #f8fcf9;
}